
.tiktok{
    width: 200px;
}
.Learning
{
    width: 400px;
}
.Anime{
width: 300px;
}

#container1{
    display:flex;
}
#container2{
    display: flex;
}
#container3{
    display: flex;
}
.p1{
    margin-bottom: 10%;
    margin-right: 10%;
    
}
.p11 {
    font-size: larger;
    margin-right: 10%;
}
.p2{
 margin-bottom: 10%;
 margin-right: 10%;
}
.p22 {
    margin-right: 10%;
    font-size: larger;
}

.p3 {
    margin-bottom: 10%;
    margin-right: 10%; 
}
.p33 {
    margin-right: 10%;
    font-size: larger;
}
